@import "../../styles/global_styles/variables";
@import "../../styles/global_styles/mixins";
@import "../../styles/global_styles/animations";

.color-details-elem {
  margin-bottom: 0.3em;

  .color-details-heading {

  }

  .color-details-value {
    display: inline-block;

    &.copyable {
      position: relative;
      cursor: pointer;
      color: $violet;
      animation: popup 1s ease-in-out infinite;

      &:hover {
        animation: none;
        transform: scale(1.1);

        @include text-shadow(0.03em, 0.05em);
      }
    }
  }

  span {
    padding: 0 0.5em;
  }
}