@import "../../styles/global_styles/variables";
@import "../../styles/global_styles/mixins";
@import "../../styles/global_styles/animations";

.color-details-elem {
  margin-bottom: 0.3em;

  .color-details-heading {
    display: inline-block;
    width: 7em;
  }

  .color-details-value {
    display: inline-block;

    &.copyable {
      position: relative;
      cursor: pointer;
      color: $violet !important;
      //animation: popupFoxy 1s ease-in-out infinite;
      @include transition(transform, 0.2s);

      &:hover {
        //animation: none;
        transform: scale(1.1);
        color: $foxy !important;
      }
    }
  }

  span {
    padding: 0 0.5em;
  }
}