@import "../../styles/global_styles/variables";
@import "../../styles/global_styles/mixins";
@import "../../styles/global_styles/animations";

.filter-wrapper {
  width: 100%;
  margin-top: 0.5em;

  @include flex-box($flex-box-row-center...);

  .filter-heading {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .filter-section {
    width: 100%;
    margin-bottom: 1em;

    @include flex-box($flex-box-row-left...);

    .filter {
      position: relative;
      cursor: pointer;
      padding: 0.3em;

      @include init-font(1em, 700);
      @include transition(transform, 0.15s);

      & .active {
        color: $foxy;
        font-weight: 700;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: skewX(-20deg);
        background-color: $violet;
        border: 0.1em solid $white;
        opacity: 0.3;

        @include transition(all, 0.2s);
      }

      &:hover {
        transform: translateY(-0.1em);
        color: $foxy;

        @include text-shadow(0.05em, 0.07em);

        &::before {
          opacity: 0;
        }
      }
    }
  }
}