@import "../../styles/global_styles/variables";
@import "../../styles/global_styles/mixins";
@import "../../styles/global_styles/animations";

.alert-message {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: max-content;
  padding: 0.5em;
  background-color: $white;
  color: $green;
  border: 1px solid $greyDark;
  cursor: initial;

  animation: scaleUpZero 0.5s ease-in-out;

  @include init-font(0.8em, 700);

  &.error {
    background-color: $red;
    color: $white;
  }
}
