@import "../../styles/global_styles/variables";
@import "../../styles/global_styles/mixins";
@import "../../styles/global_styles/animations";

.colors-bar {
  flex-basis: 258px;
  flex-grow: 1;
  background-color: $white;
  border: 1px solid $foxy;
  padding: 0.5em;

  @include flex-box($flex-box-row-top...);

  .color-list-wrapper {
    width: 100%;
    max-width: 33em;  //for small media queries

    @include flex-box($flex-box-col-center...);

    h4 {
      width: 100%;
      text-align: center;
      line-height: 1.2em;
      color: $foxy;
      margin-top: 0.5em;

      @include init-font(1.3em, 700);
      @include text-shadow(0.1em, 0.1em);
    }
  }
}